* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #1a0b2e;
  padding: 5px 0;
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  color: white;
}
/* .nav-items{
    display: flex;
    align-items: center;
    gap: 30px;
} */
.menu {
  display: flex;
  gap: 25px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav-container h1 {
  color: white;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.what-container {
  max-width: 1600px;
  background-color: #1a0b2e;
  margin: 0 auto;
  max-height: 500px;
}
.what {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.what h2{
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-bottom: 15px;
}
.what p{
  font-size: 1rem;
  font-weight: 400 ;
  color: #eee8e8;
  font-family: "Inter", sans-serif;
  margin-bottom: 50px;
}

.card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}
.card {
  max-width: 240px;
  
  text-align: center;
  margin-top:30px ;
  margin-bottom: 30px;
}
.card p{
  color:rgb(248, 245, 245);
  font-size: 1rem;
  line-height: 24px;
  font-family: "Inter", sans-serif ;
}
.card h2{
  font-family: "Inter", sans-serif ;
  font-size: 2rem;
  font-weight: 800;
  color: #00FF88;
}


hr {
  max-width: 1200px;
  margin: 10px auto;
  
  border: 1px solid #4d4a4a;
}

/* for video */

.video-section {
  max-width: 1600px;
  background-color: #1a0b2e;
  margin: 0 auto;
}
.clock{
   display: flex;
  gap: 6px;
}
.video-text{
  padding: 15px;
  display: grid;
  gap: 8px;
}
.fram{
  border-radius: 15px 15px 0px 0;
}
.video{
  border-radius: 8px;
}
.video-container{
  max-width: 300px;
  background-color: #250D44;
  border-radius: 15px;
  margin-bottom: 20px;
}
.max-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
/* this this challenge part*/
.chal-section{
  max-width: 1200px;
  background-color: #250D44;
  margin: 0 auto;

  border-radius: 15px;
}
.text{
  margin: 15px auto;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
}
.chal-container{
  display: flex;
  gap: 30px;
  padding-top: 20px;
  padding-left: 20px;


}
.text-div{
  align-items: center;
  justify-content: center;
  margin-top: 30px ;
  color: white;
  display: grid;
  gap: 10px;
  margin-left: 10px;
}
.text-div h2{
  font-size: 2rem;
  color:white;
  font-weight: 600;
  font-family: "Inter", sans-serif ;


}
.text-div p{
  font-size: 1rem;
  color: rgb(199, 195, 195);
  font-weight: 500;
  font-family: "Inter", sans-serif ;
  line-height: 24px;
}
.icons-div img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(78, 77, 77);
  padding: 10px;
  gap: 30px;
  
}

@media screen and (max-width:576px) {
  .chal-container{
    flex-direction: column;

  }
  .text-div,.img-div,.what{
    text-align: center;
  }
  .max-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
  }
  .card-container{
    grid-template-columns: repeat(2,1fr);
  }


  
}