* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a0b2e;
}
/* this is the nav section */
nav {
  background-color: #1a0b2e;
  padding: 5px 0;
}

.nav-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.menu {
  display: none;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.wave {
  background: linear-gradient(45deg, #ff00c8, #00c8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
  color: #ffff;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.btn{
  padding: 10px 24px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: white;
  background: linear-gradient(45deg, #c90a9f, #2e3031);
  border-radius: 20px;
  position: relative;
  z-index: 1
}
.btn::before{
    content: '';
  position: absolute;
  inset: -3px;
  border-radius: inherit;
  background: linear-gradient(90deg, #f7f5f6, #02242e, #abe428);
  z-index: -1;
  background-size: 300%;
  animation: glow 3s linear infinite;
   z-index: -1;
}
@keyframes glow {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}

/* and the nav sections end */


/* star of banner sections */
.banner{
  max-width: 1600px;
}
.main-img{
  position: relative;
}
.secound-img{
  position: absolute;
  inset: 0;
  top: 20%;
  left: 37%;
}
.thir-img{
  position: absolute;
  left: 44%;
  top: 30%;
}
.banner-text{
  position: absolute;
  left: 34%;
  top: 80%;
  text-align: center;
}
.banner-text h1{
  color: white;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.banner-text p{
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #ffff;
  padding-top: 3px;
  padding-bottom: 10px;
}
.mother-btn{
  display: flex;
  gap: 20px;
  align-items: center;
}
.btn-02{
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  padding: 12px 24px;
  background: linear-gradient(45deg, #c90a9f, #391ead)
}
.btn-03{
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 12px;
  background-color: none;

}





.what-container {
  max-width: 1600px;
  background-color: #1a0b2e;
  margin: 0 auto;
  max-height: 500px;
}
.what {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.what h2 {
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-bottom: 15px;
}
.what p {
  font-size: 1rem;
  font-weight: 400;
  color: #eee8e8;
  font-family: "Inter", sans-serif;
  margin-bottom: 50px;
}

.card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}
.card {
  max-width: 240px;

  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
.card p {
  color: rgb(248, 245, 245);
  font-size: 1rem;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}
.card h2 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #00ff88;
}

hr {
  max-width: 1200px;
  margin: 10px auto;

  border: 1px solid #4d4a4a;
}

/* traning section */
.why-choose {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
}
.grid-container {
  max-width: 1200px;
  min-height: 200px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  color: white;
}
.cards {
  border-radius: 30px;
  background-color: #351165;
  /* display: block; */
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}
.cards h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  font-family: "Inter", sans-serif;
}
.cards p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffff;
  font-family: "Inter", sans-serif;
}
.items-2 {
  grid-column: 2 / span 2;
}
.items-1 {
  grid-row: 1 / span 2;
  display: flex;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  align-items: center;
  justify-content: center;
}
.items-3 {
  grid-column: 2 / span 2;
}
.items-4 {
  grid-column: 1 / span 2;
}
/* for video */

.video-section {
  max-width: 1600px;
  background-color: #1a0b2e;
  margin: 0 auto;
}
.clock {
  display: flex;
  gap: 6px;
}
.video-text {
  padding: 15px;
  display: grid;
  gap: 8px;
}
.fram {
  border-radius: 15px 15px 0px 0;
}
.video {
  border-radius: 8px;
}
.video-container {
  max-width: 300px;
  background-color: #250d44;
  border-radius: 15px;
  margin-bottom: 20px;
}
.max-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* this this challenge part*/
.chal-section {
  max-width: 1200px;
  background-color: #250d44;
  margin: 0 auto;
  border-radius: 15px;
}
.text {
  margin: 15px auto;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
}
.chal-container {
  display: flex;
  gap: 30px;
  padding: 20px;
  margin-bottom: 120px;
  margin-top: 30px;
}
.text-div {
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: white;
  display: grid;
  gap: 10px;
  margin-left: 10px;
}
.text-div h2 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.text-div p {
  font-size: 1rem;
  color: rgb(199, 195, 195);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: 24px;
}
.icons-div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(78, 77, 77);
  padding: 10px;
  gap: 30px;
}

/* this is footer section */
.footer-container {
  width: 100%;
  height: 250px;
  background-image: url("./assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: rgb(235, 233, 233);
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 20px;
}
.footer-container img {
  display: block;
  width: 100%;
  height: auto;
}
.icons-class img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.icons-class {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-container h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.footer-container span {
  color: rgb(221, 7, 221);
}

@media screen and (max-width: 576px) {
  .chal-container {
    flex-direction: column;
  }
  .text-div,
  .img-div,
  .what {
    text-align: center;
  }
  .max-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .icons-class {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .items-1,
  .items-2,
  .items-3,
  .items-4,
  .items-5 {
    grid-column: auto;
    grid-row: auto;
  }
  .ul-div,
  .btn {
    display: none;
  }
  .menu {
    display: inline;
  }
}
